   

#submit1 {
    display: none;
    color: red;
    font-weight: bold;
}

#submit2 {
    display: none;
    display: none;
    color: red;
    font-weight: bold;
}

#submit3 {
 display: none;
    display: none;
    color: red;
    font-weight: bold;}

#submit4 {
 display: none;
    display: none;
    color: red;
    font-weight: bold;}

#submit5 {
 display: none;
    display: none;
    color: red;
    font-weight: bold;}

#submit6 {
 display: none;
    display: none;
    color: red;
    font-weight: bold;}

#emoji {
    font-size: 40px;
    margin-top: -30px;
}
